:root {
    --header-height: 90px;
    --home-max-height: 500px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Franklin Gothic Medium', sans-serif;
    scroll-behavior: smooth 1s;
}


/*Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:#666666;
    background-clip: padding-box;
    transition: backgroundcolor 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3b3b3b;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
::-webkit-scrollbar-track{
    background-clip: padding-box;
    background-color: rgb(0, 0, 0);
}

body {
    position: absolute;
    width: 100%;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hero-container{
    width: 100%;
}
.hero-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/night_sky.jpg");
    background-size: cover;
    background-position: 50% 100%;
    filter: brightness(25%);
    z-index: -10;
}



/* |------ HOME ------ */
section.home {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: calc(100vh - var(--header-height));
}

.home .title {
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .title h2 {
    height: 1em;
    font-size: 3.1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home .title .action {
    display: flex;
    flex-direction: column;
    transition: transform 0.8s;
    line-height: 0;
}
.home .title .action span {
    text-align: right;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    color: rgb(255, 157, 77);
}

.home .title .action span:nth-child(1){
    opacity: 1;
}


.home .featuresPreview {
    margin-top: 30px;
    width: 100%;
    font-family: arial;
    text-align: center;
}
.home .featuresPreview p {
    text-align: center;
    max-width: 60ch;
    font-size: 1.7vw;
    line-height: 1.4;
    margin: 0 auto;
}
.home .featuresPreview button {
    margin: 10px 0 100px 0;
    font-size: 1.7vw;
    color: white;
    text-decoration: none;
    background-color:  rgb(30, 172, 85);
    padding: 10px 12px;
    border-radius: 7px;
    font-weight: 400;
    outline: none;
    border: none;
}
.home .featuresPreview button:hover {
    transform: scale(1.2);
}





/* Media Responsiveness */

@media screen and (max-width:1024px){

    .home .title {
        margin: 60px 0 0 0;
    }
    .home .title h2 {
        font-size: 4vw;
    }

    .home .featuresPreview {
        margin-top: 14px;
    }
    .home .featuresPreview p {
        max-width: 50ch;
        font-size: 1.9vw;
        line-height: 1.4;
        margin: 0 auto 40px auto;
    }
    .home .featuresPreview a {
        font-size: 2.3vw;
        font-weight: 400;
    }


    
}


@media screen and (max-width:762px){

    .home .title {
        margin: 45px 0 0 0;
    }
    .home .title h2 {
        font-size: 4.7vw;
    }

    .home .featuresPreview {
        margin-top: 17px;
    }
    .home .featuresPreview p {
        max-width: 60vw;
        font-size: 2.5vw;
    }
    .home .featuresPreview a {
        font-size: 2.7vw;
    }


    
}


@media screen and (max-width:415px){
    .home .title {
        margin: 30px 0 0 0;
    }
    .home .title h2 {
        font-size: 6.6vw;
    }
    .home .featuresPreview p {
        max-width: 80vw;
        font-size: 4.3vw;
        line-height: 1.2;
        margin: -0.4em auto 40px auto;
    }
}